#errorsFormDemo, #errorsFormRequestPass, #successFormRequestPass, #errorsFormInfo, #errorsFormContact, #errorsformPagos{
    display: none;
}

ul#app_info {
    list-style: none;
}

ul#app_info li:before {
    font-size: 1.3rem;
    font-weight: bold;
    color: #f58756;
    content: '✓ ';
}

#forgotPasswordDiv{
    display: none;
}

#pagCrmCreated{
    height:100vh;
    background-image: url('../images/bg_crm_creadonew.png');
    background-size: cover;
}

.bg-trs{
    background-color:transparent;
}

.slct-padd{ 
    color:#ABB3B3 !important;
    font-size: 1.3rem !important;
    text-align-last: center;
}

#gif_loader{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 12;
    margin-left: 2%;
    margin-top: 25%;
    display: none;
}
#gif_loader1{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 12;
    margin-top: -4%;
    display: none;
}
#gif_loader2{
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 12;
    margin-top: -19%;
    margin-right: 8%;
    display: none;
}
.gif_loader{
    margin-top: -20% !important;
    margin-right: 8% !important;
}
#gif_loader_demo{
    width: 500px;
    height: 320px;
    position: absolute;
    z-index: 12;
    margin-left: calc(50% - 260px);
    margin-top: calc(50vh - 150px);
    display: none;
    border: 1px solid black;
}

.backgroundAll{
    background: black !important;
}

.loader_contact{
    margin-left: 35% !important;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 12;
    margin-top: 25%;
    display: none;
}
.response_contact{
    width: 90%;
}

.div-modal-content-crm-created{
    padding: 3rem 1rem 3rem 1rem !important;
}

.img_pago{
	width:90%;
}

input[name=pago]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        background-color: #ffffff;
        border: 1.4px solid rgba(0,0,0,.8);
        top: 20px;
        left: 1.5em;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        cursor: pointer;     
        margin-right: 7px;
        outline: none;
}
input[name=pago]:checked::before
{
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #41c3ac;
    border-radius: 50%;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    background-image: none;
}

#formPagos select{
    text-align-last:center;
    height: 46px;
}
/*Start Cookies */
#gdprbox {
    display: none !important;
    background: #292C30;
    color: #fff;
    position: fixed;
    bottom: -80px;
    z-index: 999;
    padding: 0px 30px;
    left: 30px;
    border-radius: 10px;
    height: 60px;
    padding: 11px 22px 22px 20px;
}

#gdprbox.active {
    bottom: 30px;
    display: block;
}

#gdprbox img {
    height: 35px;
    float: left;
    -webkit-animation: cookie-rotate 2s ease-in-out;
    animation: cookie-rotate 2s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;     
}

@-webkit-keyframes cookie-rotate {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}
@keyframes cookie-rotate {
    0% {transform: rotate(0deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

#gdprbox.notactive  {
    bottom: -80px;
}

#gdprbox p {
    padding: 0px 10px;
    height: 36px;
    float: left;
    line-height: 36px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
  
#gdprbox div.gdpr-button-accept {
    height: 30px;
    margin-top: 3px;
    padding: 0 9px;
    text-decoration: none;
    float: left;
    text-align: center;
    background: #616B75;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
}
  
#gdprbox div.gdpr-button-accept:hover {
    cursor: pointer;
    background: #0071FF;
}

.btn-cookies-link{
    color: white;
    text-decoration-line: underline;
}

@media screen and (max-width: 520px){
        
    #gdprbox.active {
        bottom: 20px;
    }

    #gdprbox.notactive  {
        bottom: -80px;
    }
}
/*End Cookies */


/* cookies*/

.btn-cookies-link{
    color: white;
    text-decoration-line: underline;
}
#boxcookies #images{
    position: relative;
    padding: 10px 0 0 0;
    /*margin: 12px;*/
}

/*Estilos para botón aceptar cookies con imagen*/
#boxcookies button{
    width: 150px;
    height: 40px;
    background: url("../images/boton-naranja.webp") no-repeat;
    background-size: 150px 40px;
    border: none;
}

/*Estilos para botón aceptar cookies con imagen pero con etiqueta a y picture*/
#boxcookies #button{
    width: 150px;
    height: 40px;
    background-size: 150px 40px;
    border: none;
}

#boxcookies #leer-mas{
    -webkit-margin-before: -3.3%;
    width: 150px;
    height: 50px;
    background-size: 150px 50px;
}

#boxcookies p{
    float: left; 
    font-size: 20px;
    padding: 10px 20px 0 0px;
}

#boxcookies .block{
    display: inline-block;
    vertical-align: middle;
    line-height: 4;
}

.card-answer {
	height:initial;
}

.item-owl-own {
	height:initial;
}

.pagina-error{
    width: 100%;
    min-height: 700px;
    padding-top: 4% !important;
    background-image: url("../images/errors/background-error.webp");
    background-size: cover;
}

.img-error{
    padding-top: 50px;
    width: 400px;
    max-width: 100%;
}
.img-error-letters{
    padding-top: 30px;
    padding-left: 70px;
    width: 600px;
    max-width: 100%;
}
.font-monserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #ffffff;
    font-display: swap;
}

.font-monserrat-ol{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    font-display: swap;
}
.font-monserrat-ol li a{
    color: #ffffff !important;
}

.img-error-dino{
    padding-top: 120px;
    width: 600px;
    max-width: 100%;
}
.col-md-8{
    width: 66.66%;
    float: left;
}
.col-md-4{
    width: 33.33%;
    float: left;
}
#pagLoginCrm{

}

#forgotPasswordDiv{

}


@media(max-width: 768px){
    p.f-sz-s, a.f-sz-s, span.f-sz-s{
        font-size: 1.2rem !important;
    }

    .section-init-error{
        padding-top: 11% !important;
    }

    .img-error{
        padding-top: 50px;
        width: 240px;
    }

    .img-error-letters{
        padding-top: 20px;
        width: 300px;
    }
    .col-md-8{
        width: 100%;
        float: left;
    }
    .col-md-4{
        width: 100%;
    }

    .font-monserrat{
        font-size: 18px;
    }

    .font-monserrat-ol{
        font-size: 14px;
    }
    .font-monserrat-ol li a{
        color: #ffffff !important;
    }
    #boxcookies p{
        font-size: 14px;
        padding: 5px 5px 0 5px;
    }
}
@media (min-width: 1200px){
    .pagLoginCrm{
        height: 100vh;
    }
    
    #forgotPasswordDiv{
        height: 100vh;
    }   
}

@media (min-width: 3000px) {
  	.login_datacrm{
		font-size:45px;
	}

	.pagLoginCrm{
		height: 100vh;
	}

	.imageGif{
		width: 40%;
	}

	.imageDownload{
		width: 18%;
	}
}

footer select option {
    background-color: #333742;
    color: white;
}

@media (min-width: 768px) {
    .mca:after,
    .mca:before {    
        background-size: 2rem 3rem;
        display: inline-block;
        width: 2rem;
        content: "";
        height: 3rem;
        background-repeat: no-repeat;
        position: absolute;
        margin: 0 .5rem;
    }

    .mca:after {
        background-image: url('https://i.ibb.co/3y5SCX7/HOME-copia-iconos.png');
    }

    .mca:before {
        background-image: url('https://i.ibb.co/Vwf9R3F/HOME-copia-iconos2.png');
        margin-left: -2.5rem;
    }
}

hr{
    border: 1px solid #aaadb1;
}

.tableListCheck thead th{
    width: 100px;
}


.wrapper-menu{
   
    width: 92%;
}
.wrapper-menu .mainMenu{
   
    display: block;
    overflow: hidden;
}
.wrapper-menu .mainMenu .item{
    overflow: hidden;
    padding-top:10px;
}
.wrapper-menu .btn{
    display: block;
    padding: 12px 10px;
    background-color: #A8BDDD;
    color: black;
    position: relative;
    text-align: left;
    font-size: 15px;

}

.wrapper-menu .btnspecial{
    display: block;
    padding: 12px 10px;
    background-color: $color3;
    color: white;
    position: relative;
    text-align: center;
    font-size: 15px;

}
.wrapper-menu .btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right:8px solid transparent;
   
    right: 15px;
    bottom: -10px;
    z-index: 9;
    
}
.wrapper-menu .btn i {
    margin-right: 10px;
}
.wrapper-menu .subMenu{
    background: white;
    overflow: hidden;
    transition: max-height 0.7s;
    max-height: 0;
}
.wrapper-menu .subMenu a{
    display: block;
    padding: 15px 20px;
    color: black;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    position: relative;
    text-align: left;
    
}
.wrapper-menu .subMenu a:before{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.wrapper-menu .subMenu a:hover:before{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    left: 0;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; */
    border-top: 24px solid transparent;
    border-left: 11px solid #fcdc29;
    border-bottom: 24px solid transparent;
}
.wrapper-menu .subMenu a:after{
    content: '';
    opacity: 0;
    transition: opacity 0.3s;

}
.wrapper-menu .subMenu a:hover:after{
    content: '';
    position: absolute;
    height: 0;
    width: 6px;
    right: 0px;
    top:0;
    opacity: 1;
    /* background-color: #d8d824; */

}
.wrapper-menu .subMenu a:hover{

}
.wrapper-menu .subMenu a:last-child{
    border:none;
}
.wrapper-menu .item:target .subMenu{
    max-height: 10em;
}

